global:
  extraArgs:
    - -config.expand-env=true
  extraEnvFrom:
    - secretRef:
        name: loki-s3

deploymentMode: Distributed

loki:
  limits_config:
    retention_period: 1d
  storage:
    bucketNames:
      chunks: logs-chunks
      ruler: logs-ruler
    s3:
      endpoint: fsn1.your-objectstorage.com
      secretAccessKey: ${AWS_SECRET_ACCESS_KEY}
      accessKeyId: ${AWS_ACCESS_KEY_ID}
      
  compactor:
    retention_enabled: true
    delete_request_store: s3
  pattern_ingester:
    enabled: true
  analytics:
    reporting_enabled: false
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

test:
  enabled: false

lokiCanary:
  enabled: false

gateway:
  enabled: true

ingester:
  replicas: 3
  zoneAwareReplication:
    enabled: false
  persistence:
    enabled: true
    claims:
      - name: data
        accessModes:
          - ReadWriteOnce
        size: 1Gi

distributor:
  replicas: 3

querier:
  replicas: 3

queryFrontend:
  replicas: 3

queryScheduler:
  replicas: 3

indexGateway:
  replicas: 2
  persistence:
    enabled: true
    size: 1Gi

compactor:
  replicas: 1
  persistence:
    enabled: true
    size: 1Gi
    claims:
      - name: data
        accessModes:
          - ReadWriteOnce
        size: 1Gi

ruler:
  replicas: 1

memcached:
  enabled: false

memcachedExporter:
  enabled: false

resultsCache:
  enabled: false

chunksCache:
  enabled: false

# Zero-out SSD mode components
write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0
