global:
  extraEnvFrom:
    - secretRef:
        name: tempo-s3

distributor:
  extraArgs:
    - -config.expand-env=true

ingester:
  replicas: 1
  config:
    replication_factor: 1
  extraArgs:
    - -config.expand-env=true
  persistence:
    enabled: true
    size: 2Gi

compactor:
  extraArgs:
    - -config.expand-env=true
  config:
    compaction:
      block_retention: 24h

querier:
  extraArgs:
    - -config.expand-env=true
queryFrontend:
  extraArgs:
    - -config.expand-env=true

traces:
  otlp:
    http:
      enabled: true
    grpc:
      enabled: true

storage:
  trace:
    backend: s3
    s3:
      bucket: traces-tempo
      endpoint: fsn1.your-objectstorage.com
      access_key: "${AWS_ACCESS_KEY_ID}"
      secret_key: "${AWS_SECRET_ACCESS_KEY}"

gateway:
  enabled: true