global:
  extraArgs:
    - -config.expand-env=true
  extraEnvFrom:
    - secretRef:
        name: tempo-s3

ingester:
  replicas: 1
  persistence:
    enabled: true
    size: 2Gi

compactor:
  config:
    compaction:
      block_retention: 24h

traces:
  otlp:
    http:
      enabled: true
    grpc:
      enabled: true

storage:
  trace:
    backend: s3
    bucket: traces-tempo
    endpoint: fsn1.your-objectstorage.com
    access_key: "${AWS_ACCESS_KEY_ID}"
    secret_key: "${AWS_SECRET_ACCESS_KEY}"