grafana:
  enabled: false

prometheus:
  prometheusSpec:
    retention: 2d
    retentionSize: "5GiB"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi

